NODE_ENV=development
PORT=4000
APP_BASE_URL=http://localhost:8080
COOKIE_DOMAIN=
COOKIE_MAX_AGE_MS=28800000
SESSION_SECRET=change-me
JWT_SECRET=change-me
GATEWAY_REDIS_URL=redis://127.0.0.1:6379

AZURE_REDIRECT_URI=http://localhost:8080/api/sso/azure/callback
AZURE_ADMIN_CLIENT_ID=
AZURE_ADMIN_TENANT_ID=
AZURE_ADMIN_CLIENT_SECRET=
AZURE_ACADEMICO_CLIENT_ID=
AZURE_ACADEMICO_TENANT_ID=
AZURE_ACADEMICO_CLIENT_SECRET=

SAML_IDP_SSO_URL=
SAML_IDP_SLO_URL=
SAML_IDP_CERT=
SAML_ACS_URL=http://localhost:8080/api/sso/saml/callback
SAML_ENTITY_ID=univesp-crm-local

FRAPPE_ORIGIN=http://127.0.0.1:8000
FRAPPE_SITE_NAME=crm.localhost
FRAPPE_API_KEY=
FRAPPE_API_SECRET=
UNIVESP_BFF_SHARED_SECRET=
UNIVESP_EDGE_SHARED_SECRET=
UNIVESP_INGRESS_SHARED_SECRET=
FRAPPE_REQUEST_TIMEOUT_MS=30000
MAX_UPLOAD_BYTES=52428800
